html{
	background: linear-gradient(#C55F15,#422F13,#553F1D); 
  margin: 0;
  padding:0;
  height:100%;
  background-attachment: fixed;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5{
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}
.navhead{
    background: #C55F15;
    color: #FFF;
    text-decoration: none;
  }
  label{
    color:#fff;
  }
body{   
  background: linear-gradient(#000000,#393939);
 
  background-attachment: fixed;
}  
#frm{  
   
    width:50%;  
    border-radius: 2px;  
    margin: 120px auto;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #C55F15;  
    padding: 7px;  
    margin-left: 70%;  
    border-radius: 8px;
} 
.btn{
    color: #fff;  
    background: #C55F15;  
    padding: 7px;  
    width:100%;
    border-radius: 8px;
}
.display {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* To reduce the space between the elements set the font size to zero in the parent element. */
    position: fixed;
     font-size: 0; 
    top:0;
    left:0;
    width:100%;
    
  }
  .display a {
    padding: 15px;
    display: inline-block;
    
    /* This extra space affects how much total space the element takes up. Let's say I want to make four equal elements, by setting the links to a width of 25%. Even though 25 x 4 = 100%, the last item gets pushed down to the next line because there's not enough space for it. */  
    
     width: 25%; 
    
    
    
    /* Because font size is also inherited, you'll have to reset the font size in the child element itself. */
    
     font-size: 16px; 
  }
  .bigInput{
   
    height:50px;
  }
  .card {
    border-top: 3px solid #C55F15;
    padding: 20px;
    margin-top: 20px;
    
 }
 .Comment-header{
   
   padding:15px;
}
.comment{
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #fff;
  padding: 15px;
}
table, th, td {
  border:1px solid #C55F15;
  color: #fff;
  
}
.follow-button{

  float: right;
  color: #fff;  
    background: #C55F15;  
    padding: 7px;  
    width:15%;
    border-radius: 8px;
}